<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Aducci</servlet-name>
		<servlet-class>aducci.AducciServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Aducci</servlet-name>
		<url-pattern>/aducci</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Game</servlet-name>
		<servlet-class>aducci.GameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Game</servlet-name>
		<url-pattern>/game</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>aducci.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminAdd</servlet-name>
		<servlet-class>aducci.AdminAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAdd</servlet-name>
		<url-pattern>/admin/add</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<security-constraint>
	     <web-resource-collection>
	         <url-pattern>/admin/*</url-pattern>
	     </web-resource-collection>
	     <auth-constraint>
	         <role-name>admin</role-name>
	     </auth-constraint>
	 </security-constraint>
    
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>